<form [formGroup]="formGroup">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input formControlName="inputDeneme" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Input</mat-label>
              <input matInput formControlName="inputDeneme2">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Input</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="float: right">
      <button (click)="clickDialog()" class="btn btn-success">
        Gönder
      </button>
      <button class="btn btn-danger">
        Vazgeç
      </button>
    </div>
  </div>
</form>
