<div class="row">
  <div class="col-12">
    <mat-form-field class="mat-1" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-form-field class="mat-2" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-form-field class="mat-3" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mat-3" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
      </mat-form-field>
    </div>
  </div>
</div>
